{% extends "base.html" %}

{% block content %}

<div class="features">
    <h3>Список транзакций</h3>
    <table>
        <thead>
            <tr>ID</tr>
            <tr>Дата</tr>
            <tr>Сумма</tr>
            <tr>Описание</tr>
            <tr>Категория</tr>
            <tr>Cтатус</tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.id }}</td>
                <td>{{ transaction.date }}</td>
                <td>{{ transaction.amount }} {{transaction.currency}}</td>
                <td>{{ transaction.description }}</td>
                <td>{{ transaction.category }}</td>
                <td>{{ transaction.status }}</td>
            </tr>
            {% endfor %}
    </table>
</div>
{% endblock %}